<div class="">
  <div style="height:100vh;">
    <div class="">
      <div class="shadow w-20 p-5 position-absolute top-50 start-50 translate-middle">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <h4 class="display-6 text-center py-2">Certificate Database</h4>
          
          <div class="">
            <label for="certificateName">Certificate Name</label>
            <div class="">
              <input id="certificateName" required #certificateName="ngModel" ngModel name="certificateName" type="text"
                class="form-control" placeholder="Enter certificate name">
              <div *ngIf="certificateName.invalid && certificateName.touched">
                <small class="text-danger" *ngIf="certificateName.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
          
          <div class="">
            <label for="issuingOrganization">Issuing Organization</label>
            <div class="">
              <input id="issuingOrganization" required #issuingOrganization="ngModel" ngModel name="issuingOrganization" type="text"
                class="form-control" placeholder="Enter issuing Organization">
              <div *ngIf="issuingOrganization.invalid && issuingOrganization.touched">
                <small class="text-danger" *ngIf="issuingOrganization.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
          
          <div class="">
            <label for="issueDate">Issue Date</label>
            <div class="">
              <input id="issueDate" required #issueDate="ngModel" ngModel name="issueDate" type="date"
                class="form-control" placeholder="Enter Issue Date">
              <div *ngIf="issueDate.invalid && issueDate.touched">
                <small class="text-danger" *ngIf="issueDate.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>

          <div class="">
            <label for="expirationDate">Expiration Date</label>
            <div class="">
              <input id="expirationDate" required #expirationDate="ngModel" ngModel name="expirationDate" type="date"
                class="form-control" placeholder="Enter Expiration Date">
              <div *ngIf="expirationDate.invalid && expirationDate.touched">
                <small class="text-danger" *ngIf="expirationDate.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>

          <div class="">
            <label for="renewalDate">Renewal Date</label>
            <div class="">
              <input id="renewalDate" required #renewalDate="ngModel" ngModel name="renewalDate" type="date"
                class="form-control" placeholder="Enter Renewal Date">
              <div *ngIf="renewalDate.invalid && renewalDate.touched">
                <small class="text-danger" *ngIf="renewalDate.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>

          <div class="">
            <label for="status">Status</label>
            <select id="status" required #status="ngModel" ngModel name="status" class="form-control">
              <option value="Active">Active</option>
              <option value="Expired">Expired</option>
              <option value="Pending">Pending</option>
            </select>
            <div *ngIf="status.invalid && status.touched">
              <small class="text-danger" *ngIf="status.errors?.['required']">Required</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="description">Description</label>
            <textarea id="description" required #description="ngModel" ngModel name="description" class="form-control"
              placeholder="Enter description"></textarea>
            <div *ngIf="description.invalid && description.touched">
              <small class="text-danger" *ngIf="description.errors?.['required']">Required</small>
            </div>
          </div>          
  
          <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div><br>

  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Organization</th>
          <th>Issue Date</th>
          <th>Expiration Date</th>
          <th>Renewal Date</th>
          <th>Status</th>
          <th>Description</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let certificate of certificateDetails">
          <td>{{ certificate.id }}</td>
          <td>{{ certificate.certificateName }}</td>
          <td>{{ certificate.issuingOrganization }}</td>
          <td>{{ certificate.issueDate }}</td>
          <td>{{ certificate.expirationDate }}</td>
          <td>{{ certificate.renewalDate }}</td>
          <td>{{ certificate.status }}</td>
          <td>{{ certificate.description }}</td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(certificate)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteCertificate(certificate)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Certificate</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="updateCertificate()">
            <h4 class="display-6 text-center py-2">Update Certificate</h4>
            
            <div class="">
              <label for="certificateName">Certificate Name</label>
              <div class="">
                <input id="certificateName" required #certificateName="ngModel" [(ngModel)]="certificateToUpdate.certificateName" name="certificateName" type="text"
                  class="form-control" placeholder="Enter certificate name">
                <div *ngIf="certificateName.invalid && certificateName.touched">
                  <small class="text-danger" *ngIf="certificateName.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>

            <div class="">
              <label for="issuingOrganization">Issuing Organization</label>
              <div class="">
                <input id="issuingOrganization" required #issuingOrganization="ngModel" [(ngModel)]="certificateToUpdate.issuingOrganization" name="issuingOrganization" type="text"
                  class="form-control" placeholder="Enter issuing Organization">
                <div *ngIf="issuingOrganization.invalid && issuingOrganization.touched">
                  <small class="text-danger" *ngIf="issuingOrganization.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
            
            <div class="">
              <label for="issueDate">Issue Date</label>
              <div class="">
                <input id="issueDate" required #issueDate="ngModel" [(ngModel)]="certificateToUpdate.issueDate" name="issueDate" type="date"
                  class="form-control" placeholder="Enter Issue Date">
                <div *ngIf="issueDate.invalid && issueDate.touched">
                  <small class="text-danger" *ngIf="issueDate.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
  
            <div class="">
              <label for="expirationDate">Expiration Date</label>
              <div class="">
                <input id="expirationDate" required #expirationDate="ngModel" [(ngModel)]="certificateToUpdate.expirationDate" name="expirationDate" type="date"
                  class="form-control" placeholder="Enter Expiration Date">
                <div *ngIf="expirationDate.invalid && expirationDate.touched">
                  <small class="text-danger" *ngIf="expirationDate.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
  
            <div class="">
              <label for="renewalDate">Renewal Date</label>
              <div class="">
                <input id="renewalDate" required #renewalDate="ngModel" [(ngModel)]="certificateToUpdate.renewalDate" name="renewalDate" type="date"
                  class="form-control" placeholder="Enter Renewal Date">
                <div *ngIf="renewalDate.invalid && renewalDate.touched">
                  <small class="text-danger" *ngIf="renewalDate.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
  
            <div class="">
              <label for="status">Status</label>
              <select id="status" required #status="ngModel" [(ngModel)]="certificateToUpdate.status" name="status" class="form-control">
                <option value="Active">Active</option>
                <option value="Expired">Expired</option>
                <option value="Pending">Pending</option>
              </select>
              <div *ngIf="status.invalid && status.touched">
                <small class="text-danger" *ngIf="status.errors?.['required']">Required</small>
              </div>
            </div>
  
            <div class="mb-3">
              <label for="description">Description</label>
              <textarea id="description" required #description="ngModel" [(ngModel)]="certificateToUpdate.description" name="description" class="form-control"
                placeholder="Enter description"></textarea>
              <div *ngIf="description.invalid && description.touched">
                <small class="text-danger" *ngIf="description.errors?.['required']">Required</small>
              </div>
            </div>
       
            <div class="form-group text-center">
              <input class="btn btn-primary" type="submit" value="Update">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
